<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 原来在此的数据库连接 写入到 spring-application.xml中 在把该xml注入spring-application.xml中-->

<!-- 根标签， mybatis 配置要加这里 -->
<configuration>

    <mappers>
        <mapper resource="mappers/UserMapper.xml"></mapper>
    </mappers>



</configuration>